
<div id="<%= dom_id category %>" class="relative overflow-x-auto shadow-md sm:rounded-lg">

  <table class="w-full text-sm text-gray-500 dark:text-gray-400">

    <thead>
      <tr class="text-xs font-medium text-gray-500 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <th class="px-6 py-3"> <%= t('.name') %> </th>
        <th class="px-6 py-3"> <%= t('.edit') %> </th>
        <th class="px-6 py-3"> <%= t('.delete') %> </th>
      </tr>
    </thead>

    <tbody>

      <% @categories.each do |category| %>

        <tr class="border-b dark:border-gray-700">

          <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= category.name %>
          </th>

          <td class="px-6 py-4">
            <%= link_to t('.edit'), edit_category_path(category), class: "text-blue-600 dark:text-blue-500 hover:underline" %>
          </td>

          <td class="px-6 py-4">
            <%= button_to t('.delete'), category_path(category), method: :delete, class: "text-blue-600 dark:text-blue-500 hover:underline", data: { confirm: t('.confirm') } %>
          </td>

        </tr>

      <% end %>

    </tbody>

  </table>

</div>
